.create-spot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-spot-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(64, 64, 64);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  margin: 0px 25%;
  align-items: center;
  /* border: 2.5px solid black; */
}

.create-spot-form > input,
textarea {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 80%;
  border-radius: 12px;
  border: none;
}

.create-spot-textarea {
  height: 80px;
  resize: none;
  overflow: scroll;
}

.create-spot-form > label {
  font-size: 20px;
  font-weight: 700;
  margin: 3px;
  border-bottom: 2px solid rgba(224, 224, 224, 0.81);
}
.create-spot-form > div {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 5px;
  width: 80%;
}

.create-new-spot-button {
  height: 40px;
  background-color: rgb(253, 102, 102);
  color: white;
  border-radius: 12px;
  margin: 10px 0;
}

.image-input {
  margin: 5px 0;
}
.create-new-spot-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px black;
}
