.modalTest {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 500px;
  border-radius: 12px;
  color: white;
  background-color: rgb(64, 64, 64);
}

.modalTest > h1 {
  border-bottom: 2px solid white;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup-form > input {
  width: 80%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.signup-form > label {
  position: relative;
  margin: 10px 0;
}

.signup-button {
  margin-top: 10px;
  width: 82%;
  height: 30px;
  background-color: rgb(245, 79, 79);
  color: white;
}
.signup-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.signup-button:disabled {
  background-color: grey;
  cursor: auto;
  box-shadow: none;
}
